  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .box {
      margin: 10px;
      padding: 10px;
      border: 1px solid black;
  }

  .box-1 {
      background-color: red;
      max-width: 500px;
      height: 200px;
  }

  .box-2 {
      background-color: blue;
      max-width: 900px;
      min-width: 300px;
      width: 75vw;
  }

  .box-3 {
      background-color: green;
      max-height: 75vh;
      min-height: 500px;
  }