* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.flex-container {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.flex-container .flex-item {
    background-color: lightblue;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    flex: 25%;
}

.flex-container-1 {
    height: 100px;
    border: 1px solid black;
    background-color: aqua;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-1 .box {
    border: 1px solid black;
    height: 20px;
    width: max-content;
}

.flex-container-2 {
    height: 100px;
    border: 1px solid black;
    background-color: aqua;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-container-2 .box {
    border: 1px solid black;
    height: 20px;
    width: max-content;
}

.flex-container-3 {
    height: 100px;
    border: 1px solid black;
    background-color: aqua;
    padding: 10px;
    margin-bottom: 10px;
}

.flex-container-3 .box {
    border: 1px solid black;
    height: 20px;
    width: max-content;
}

.flex-container-4 {
    height: 100px;
    border: 1px solid black;
    background-color: aqua;
    padding: 10px;
    margin-bottom: 10px;
}

.flex-container-4 .box {
    border: 1px solid black;
    height: 20px;
    width: max-content;
}