* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.box {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 12px;
    overflow: auto;
}
.box-1 img {
    float: right;
}

.box-3 img {
    float: right;
}

.div1 {
    background: red;
    padding: 15px;
    float: left;
    width: 33.33%;
}

.div2 {
    background: yellow;
    padding: 15px;
    float: left;
    width: 33.33%;
}

.div3 {
    padding: 15px;
    background: green;
    float: left;
    width: 33.33%;
}

.div4 {
    float: left;
    padding: 10px;
    border: 3px solid #73ad21;
}

.div5 {
    padding: 10px;
    border: 3px solid red;
    clear: left;
}