* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.container {
    background-color: red;
    max-width: 800px;
    padding: 10px;
    display: flex;
}

.container .sidebar {
    background-color: lightblue;
    height: 200px;
    width: 200px;
    padding: 10px;
}

.container .main-content {
    padding: 10px;
    background-color: lightgreen;
    height: 200px;
    width: calc(100% - 200px);
}