* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.box {
    background-color: lightblue;
    margin-bottom: 10px;
    padding: 10px;
}

.container .col {
    background-color: lightcoral;
    margin-bottom: 10px;
    border: 1px solid black;
    display: inline-block;
}

.container-2 .col {
    background-color: teal;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
}

.box-1 {
    display: none;
}

.box-2 {
    display: inline;
}

.box-3 {
    display: block;
}

.box-4{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
}