* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.container-1 {
    background-color: #efefef;
    padding: 10px;
    margin-bottom: 10px;
}

.container-2 {
    background-color: #efefef;
    padding: 10px;
    margin-bottom: 10px;
}

.container-2 .box-1{
    background-color: red;
}

.container-2 .box-2{
    background-color: green;
    display: none;
}

.container-2:hover .box-2{
    display: block;
}

.container-2:hover .box-1{
    display: none;
}

div p:first-child {
    color: red;
}