* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.grid-container {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.grid-container .grid-item {
    background-color: lightblue;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.grid-container-1 {
    border: 1px solid black;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.grid-container-1 .grid-item {
    background-color: tomato;
    padding: 10px;
    border: 1px solid black;
}

.grid-container-1 .grid-item.item1 {
    grid-column: 1/ span 2;
    grid-row: 1 / span 1;
}

.grid-container-1 .grid-item.item2 {
    grid-column: 3;
    grid-row: 1 / span 2;
}

.grid-container-1 .grid-item.item3 {
    grid-column: 1;
    grid-row: 2 / span 2;
}

.grid-container-1 .grid-item.item4 {
    grid-column: 2;
    grid-row: 2;
}

.grid-container-1 .grid-item.item5 {
    grid-column: 2 / span2;
    grid-row: 3;
}



.grid-container-2 {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
}

.grid-container-2 .grid-item {
    background-color: lightblue;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}