* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
}

@media screen and (min-width: 1401px) {
    body {
        background-color: yellow;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    body {
        background-color: green;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        background-color: blue;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    body {
        background-color: pink;
    }
}

@media screen and (min-width : 577px) and(max-width : 768px) {
    body {
        background-color: orange;
    }
}

@media screen and (min-width : 401px) and (max-width: 576px) {
    body {
        background-color: purple;
    }
}

@media screen and (max-width: 400px) {
    body {
        background-color: black;
    }
}