* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        padding: 10px;
      }
      img {
        width: 200px;
        height: 200px;
        margin: 10px;
      }
      .img-1 {
        object-fit: cover;
        object-position: 0% 50%;
      }
      .img-2 {
        object-fit: contain;
      }