* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.container {
    border: 1px solid black;
    padding: 10px;
}

.container .box {
    background-color: lightblue;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.container-1 .box-1 {
    position: relative;
    left: 20px;
    bottom: 20px;
}