* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

.container {
    border: 1px solid black;
    padding: 10px;
}

.container .box {
    background-color: lightblue;
    padding: 10px;
    border: 1px solid black;
}

.container-1 .box-1 {
    position: relative;
    left: 20px;
    bottom: 20px;
}

.container-2 {
    height: 400px;
    width: 400px;
    position: relative;
}

.container-2 .box {
    height: 100px;
    width: 100px;
}

.container-2 .box-1 {
    position: absolute;
    top: 0;
    right: 0;
}

.container-2 .box-2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.container-2 .box-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-3 {
    height: 50vh;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

.container-4 {
    height: 400px;
    position: relative;
    overflow-y: auto;
}

.container-4 .box-1 {
    height: 500px;
    width: 100%;
    background-color: red;
}

.container-4 .box-3 {
    height: 500px;
    width: 100%;
    background-color: green;
}

.container-4 .box-2 {
    position: sticky;
    bottom: 0;
}