* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.box-1 {
    background-color: red;
    max-height: 200px;
    overflow: auto;
}

.box-2 {
    background-color: yellow;
    height: 100px;
    overflow: hidden;
}